<div class="row">
    <div mat-dialog-title class="col-10">
        REGISIRAR USUARIO
        <br>
        <span *ngIf="accion == 'Entrenador'" class="fs-6 text-light">Entrenador</span>
        <span *ngIf="accion == 'Alumno'" class="fs-6 text-light">Alumno</span>
    </div>

    <button mat-icon-button color="accent" [mat-dialog-close]="true" class="col-1">
      <span class="bi-x-lg"></span>
  </button>
</div>
<div mat-dialog-content>
    <mat-vertical-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="personaFormGroup" *ngIf="accion == 'Entrenador'">
            <form [formGroup]="personaFormGroup">
                <ng-template matStepLabel>Complete los datos de la persona</ng-template>

                <mat-form-field class="col-12 p-3">
                    <mat-label>Nombre/s</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>

                <!--Apellido-->
                <mat-form-field class="col-12 p-3">
                    <mat-label>Apellido/s</mat-label>
                    <input matInput formControlName="apellido" required>
                </mat-form-field>

                <!--DNI-->
                <mat-form-field class="col-12 p-3">
                    <mat-label>DNI</mat-label>
                    <input matInput minlength=7 maxlength=8 formControlName="dni" required>
                    <mat-error *ngIf="personaFormGroup.get('dni').hasError('minlength') || personaFormGroup.get('dni').hasError('maxlength') && !personaFormGroup.get('dni').hasError('required')">
                        El DNI debe tener entre 7 y 8 caracteres
                    </mat-error>
                </mat-form-field>

                <!--EMAIL-->
                <mat-form-field class="col-12 p-3">
                    <mat-label>Email</mat-label>
                    <input matInput email formControlName="email" required>
                    

                </mat-form-field>

                <!--Celular-->
                <mat-form-field class="col-12 p-3">
                    <mat-label>Celular</mat-label>
                    <input matInput formControlName="celular" required>


                </mat-form-field>

                <!--Direccion-->
                <mat-form-field class="col-12 p-3">
                    <mat-label>Direccion</mat-label>
                    <input matInput formControlName="domicilio" required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-12 p-3">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input matInput formControlName="fecha_nac" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="usuarioFormGroup">
            <form [formGroup]="usuarioFormGroup">
                <ng-template matStepLabel>Cree su usuario</ng-template>


                <mat-form-field appearance="fill" class="col-12 p-3">
                    <mat-label>Usuario</mat-label>
                    <input matInput minlength="4"  formControlName="username" (input)="comprobarUsername()" required>

                    <mat-error *ngIf="nombre_valido == false">
                        El nombre de usuario no esta disponible
                    </mat-error>
                    <mat-error *ngIf="usuarioFormGroup.get('username').hasError('minlength') && !usuarioFormGroup.get('username').hasError('required')">
                        El usuario debe tener mas de 3 carateres
                    </mat-error>
                    <mat-error *ngIf="usuarioFormGroup.get('username').hasError('required')">
                        El usuario no debe estar vacio
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="fill" class="col-12 p-3">
                    <mat-label>Contraseña</mat-label>
                    <input matInput minlength="4" maxlength="20" formControlName="password" required [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="usuarioFormGroup.get('password').hasError('minlength') && !usuarioFormGroup.get('username').hasError('required')">
                        El usuario debe tener mas de 3 carateres
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-12 p-3">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName=rol required name="rol">
                        <mat-option *ngFor="let rol of roles" [value]="rol._id">
                            {{rol.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="accent" *ngIf="accion == 'Entrenador'" matStepperPrevious>Atras</button>
                <div class="row justify-content-center">
                    <button mat-raised-button [mat-dialog-close]="true" color="primary" class="m-2 col-7" *ngIf="accion == 'Entrenador' && nombre_valido" (click)="crearUsuarioEntrenador()">Agregar Usuario</button>
                    <button mat-raised-button [mat-dialog-close]="true" color="primary" class="m-2 col-7" *ngIf="accion == 'Alumno' && nombre_valido" (click)="crearUsuarioAlumno()">Agregar Usuario</button>
                    <button mat-raised-button color="warn" class="m-2 col-7" (click)="stepper.reset()">Limpiar</button>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</div>