<div class="mt-3 p-3 row">
    <mat-form-field>
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Nombre/s o Apellido/s">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8" *ngIf="ready">
    <table mat-table [dataSource]="_dataSource" class="w-100 table-responsive" matSort>
    
      <!-- Apellido -->
      <ng-container matColumnDef="apellido" >
        <th mat-header-cell *matHeaderCellDef >Apellido</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.persona.apellido}} </td>
      </ng-container>
      
      <!-- Nombre -->
      <ng-container matColumnDef="nombre" >
        <th mat-header-cell *matHeaderCellDef >Nombre</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.persona.nombre}} </td>
      </ng-container>
  
      <!-- Plan -->
      <ng-container matColumnDef="plan" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.plan.nombre}} </td>
      </ng-container>
  
      <!-- Fecha de Inicio -->
      <ng-container matColumnDef="fecha_inicio" >
        <th mat-header-cell *matHeaderCellDef >Fecha de Inicio</th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.fecha_inicio | date:"dd-MM-yyyy"}} </td>
      </ng-container>
  
      <!-- Pagos -->
      <ng-container matColumnDef="pagos">
        <th mat-header-cell *matHeaderCellDef clas="col-1">Pagos</th>
        <td mat-cell *matCellDef="let alumno">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pagosModal" data-bs-backdrop="false" (click)=verPagos(alumno)><i class="bi bi-currency-dollar" ></i></button>
  
          <div class="modal fade" id="pagosModal" tabindex="-1" aria-labelledby="pagosModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h3 class="modal-title" id="pagosModalLabel">Listado de Pagos</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <table mat-table [dataSource]="_dataSourcePago" class="w-100 table-responsive">
                    
                    <!-- Fecha de Pago -->
                    <ng-container matColumnDef="fecha_pago" >
                      <th mat-header-cell *matHeaderCellDef >Fecha de Pago</th>
                      <td mat-cell *matCellDef="let pago"> {{ pago.fecha_pago | date:"dd-MM-yyyy" }} </td>
                    </ng-container>
                    
                    <!-- Monto -->
                    <ng-container matColumnDef="monto" >
                      <th mat-header-cell *matHeaderCellDef >Monto</th>
                      <td mat-cell *matCellDef="let pago"> {{ pago.monto }} </td>
                    </ng-container>
  
                    <!-- Modo de pago -->
                    <ng-container matColumnDef="modo_pago" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modo de Pago</th>
                      <td mat-cell *matCellDef="let pago"> {{ pago.modo_pago | uppercase }} </td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="_displayedColumnsPago"></tr>
                    <tr mat-row *matRowDef="let row; columns: _displayedColumnsPago;"></tr>
  
                  </table>
  
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
  
      <!-- Asistencias -->
      <ng-container matColumnDef="asistencias">
        <th mat-header-cell *matHeaderCellDef clas="col-1">Asistencias</th>
        <td mat-cell *matCellDef="let alumno">
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#asistenciaModal" data-bs-backdrop="false" (click)=obtenerAsistencias(alumno)><i class="bi bi-card-checklist"></i></button>
  
          <div class="modal fade" id="asistenciaModal" tabindex="-1" aria-labelledby="asistenciaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h3 class="modal-title" id="asistenciaModalLabel">Listado de Asistencias</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h3>Días Restantes: {{ _diasRestantes }}</h3>
                  <table mat-table [dataSource]="_dataSourceAsistencia" class="w-100 table-responsive">
                    <!-- Fecha de Asistencia -->
                    <ng-container matColumnDef="fecha" >
                      <th mat-header-cell *matHeaderCellDef >Fecha</th>
                      <td mat-cell *matCellDef="let asistencia"> {{ asistencia.fecha | date:"dd-MM-yyyy" }} </td>
                    </ng-container>

                    <!-- Fecha de Asistencia -->
                    <ng-container matColumnDef="rutina" >
                      <th mat-header-cell *matHeaderCellDef >Rutina</th>
                      <td mat-cell *matCellDef="let asistencia"> {{ asistencia.rutina }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="_displayedColumnsAsistencia"></tr>
                    <tr mat-row *matRowDef="let row; columns: _displayedColumnsAsistencia;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>