<div class="container">
  <!--PLAN BASICO COMIENZO-->
  <div class="row justify-content-center mt-5">
    <div class="col-12 textura-neon p-5">
          <img src="../../../assets/images/PlanesNeon.png" width="180px"  class="img-fluid" alt="">  
          <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary" class="" (click)="redirectPlan()">VER PLANES</button>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 textura-neon-azul p-5">
          <img src="../../../assets/images/PlanesNeonaAzul.png" width="400px" class="img-fluid" alt="">  
          <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="basic" class="">VER ENTRENAMIENTOS</button>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 textura-neon-naranja p-5">
          <img src="../../../assets/images/AlumnosNeonNaranja.png" width="250px" class="img-fluid" alt="">  
          <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="basic" class="">VER ALUMNOS</button>
    </div>
  </div>
  <!--PLAN BASICO FINAL-->
  <div>

  </div>

  <div>

  </div>
</div>
