<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Complete los datos de la persona</ng-template>

      <mat-form-field class="col-12 col-md-3 m-3">
        <mat-label>Nombre/s</mat-label>
        <input matInput formControlName="nombre" required>
      </mat-form-field>

      <!--Apellido-->
      <mat-form-field appearance="" class="col-12 col-md-3 m-3">
        <mat-label>Apellido/s</mat-label>
        <input matInput formControlName="apellido" required>
      </mat-form-field>

      <!--DNI-->
      <mat-form-field class="col-12 col-md-3 m-3">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" required>
      </mat-form-field>

      <!--EMAIL-->
      <mat-form-field class="col-12 col-md-6 m-3 ">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

      <!--Celular-->
      <mat-form-field class="col-12 col-md-6 m-3 ">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="celular" required>
      </mat-form-field>

      <!--Direccion-->
      <mat-form-field class="col-12 m-3 col-md-6 d-inline-block">
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="domicilio" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12 col-md-4 m-3">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="fecha_nac" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Elije un plan</ng-template>
      <mat-select formControlName=plan class="border border-3" required>
        <mat-option *ngFor="let plan of planes" [value]="plan._id">
          {{plan.nombre}}
        </mat-option>
      </mat-select>
      <mat-form-field appearance="fill" class="col-12 col-md-4 m-3">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="fecha_inicio" [matDatepicker]="pickerinicio">
        <mat-datepicker-toggle matSuffix [for]="pickerinicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerinicio></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="agregarAlumno()" *ngIf="accion == 'new'">Agregar Alumno</button>
      <button mat-button (click)="modificarAlumno()" *ngIf="accion == 'update'">Modificar Alumno</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>