<div *ngIf="autenticacion">
    <mat-vertical-stepper [linear]="true" #stepper class="mt-3 p-3">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Complete los datos de la persona</ng-template>

                <mat-form-field class="col-12 col-md-3 m-3">
                    <mat-label>Nombre/s</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>

                <!--Apellido-->
                <mat-form-field appearance="" class="col-12 col-md-3 m-3">
                    <mat-label>Apellido/s</mat-label>
                    <input matInput formControlName="apellido" required>
                </mat-form-field>

                <!--DNI-->
                <mat-form-field class="col-12 col-md-3 m-3">
                    <mat-label>DNI</mat-label>
                    <input matInput formControlName="dni" required>
                </mat-form-field>

                <!--EMAIL-->
                <mat-form-field class="col-12 col-md-6 m-3 ">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>

                <!--Celular-->
                <mat-form-field class="col-12 col-md-6 m-3 ">
                    <mat-label>Celular</mat-label>
                    <input matInput formControlName="celular" required>
                </mat-form-field>

                <!--Direccion-->
                <mat-form-field class="col-12 m-3 col-md-6 d-inline-block">
                    <mat-label>Direccion</mat-label>
                    <input matInput formControlName="domicilio" required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-12 col-md-4 m-3">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input matInput formControlName="fecha_nac" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Elija su plan</ng-template>


                <mat-form-field appearance="fill" class="mt-3 me-3">
                    <mat-label>Planes</mat-label>
                    <mat-select formControlName=plan required name="plan">
                        <mat-option *ngFor="let plan of planes" [value]="plan._id">
                            {{plan.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-12 col-md-4">
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput formControlName="fecha_inicio" [matDatepicker]="pickerinicio">
                    <mat-datepicker-toggle matSuffix [for]="pickerinicio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerinicio></mat-datepicker>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="accent" class="me-3" matStepperPrevious>Atras</button>
                    <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <ng-template matStepLabel>Registro completado</ng-template>
            <div class="mt-3">
                <button mat-raised-button color="accent" class="me-3" matStepperPrevious>Atras</button>
                <button mat-raised-button color="primary" class="me-3" (click)="agregarAlumno()" *ngIf="accion == 'new'">Agregar
          Alumno</button>
                <button mat-raised-button color="primary" class="me-3" (click)="modificarAlumno()" *ngIf="accion == 'update'">Modificar Alumno</button>
                <button mat-raised-button color="warn" (click)="stepper.reset()">Limpiar</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>
<div class="mt-3 row justify-content-center" *ngIf="autenticacion == false">
    <div class="col-8 col-md-6 col-lg-4">
        <img src="../../../../assets/images/No Autorizado.png" class="img-fluid" alt="a">
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="alert" class=" m-5 col-6 col-md-4 " [routerLink]="[ ''] ">
      Volver al inicio
    </button>
    </div>
</div>